.App {
  text-align: center;
  background:linear-gradient(grey,rgb(47, 255, 245));
  margin-top: auto;
  padding: 150px;
}
h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 1px 2px 3px black;
  color: rgba(128, 128, 128, 0.281);
  font-size: 30px;
}
.App img{
  border-radius: 5px;
  box-shadow: 1px 2px 5px black;
}